
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="~/Default/Index" method="post">
        手机号：<input type="text" name="phoneNum"/>
        金额：<input type="text" name="amount" />
        <input type="submit" value="去充值"/>
    </form>
</body>
</html>
